<div class="container m-3">
  <h1>Lista de productos</h1>
  <hr />

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 border border-3">
      <ng-container *ngFor="let producto of productos; let i = index">
        <img
          *ngIf="producto.images"
          src="{{ producto.images[0] }}"
          class="imagen my-3"
          alt="{{ producto.title }}"
        />
        <img
          *ngIf="!producto.images"
          src="../assets/imagenes/images.jpeg"
          class="imagen my-3"
          alt="{{ producto.title }}"
        />
        <p>{{ producto.title }}</p>
        <p>{{ producto.price | currency }}</p>
        <p>Stock: {{ producto.stock }}</p>
      </ng-container>
    </div>

    <div class="col-12 col-sm-6 col-md-8">
      <h3>Agrega nuevos productos</h3>
      <br />

      <form [formGroup]="form">
        <label for="nombre" class="form-label">Nombre del producto</label>
        <div class="form-group my-2">
          <input
            type="text"
            id="nombre"
            placeholder="Ingrese nombre del producto"
            class="form-control"
            formControlName="nombre"
          />
          <span class="form-text text-danger" *ngIf="campoValido('nombre')">
            Este campo es obligatorio
          </span>
        </div>
        <label for="precio" class="form-label">Precio</label>
        <div class="form-group my-2">
          <input
            type="number"
            id="precio"
            placeholder="Ingrese precio del producto"
            class="form-control"
            formControlName="precio"
          />
          <span class="form-text text-danger" *ngIf="campoValido('precio')">
            Este campo es obligatorio
          </span>
        </div>
        <label for="stock" class="form-label">Stock</label>
        <div class="form-group my-2">
          <input
            type="number"
            id="stock"
            placeholder="Ingrese stock del producto"
            class="form-control"
            formControlName="stock"
          />
          <span class="form-text text-danger" *ngIf="campoValido('stock')">
            Este campo es obligatorio
          </span>
        </div>
        <button
          class="btn btn-primary float-end"
          (click)="agregarProducto()"
          [disabled]="!form.valid"
        >
          Agregar producto
        </button>
        <br>
      </form>
    </div>
  </div>
</div>
